<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stalnks</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Turnip Tracker</h1>
    </div>
  </div>
</section>

<section class="section">
<div class="container">
<form id="recordform" action="{% url 'turniptracker:index' %}" method="post"> 
  {% csrf_token %}
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <p class="control has-icons-left">
          {{form.resident}}
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          {{form.price}}
          <span class="icon is-small is-left">
            <i class="fas fa-bell"></i>
          </span>
        </p>
      </div>
      <input type="hidden" name="timezone" id="timezone">
      <div class="field">
        <p class="control">
          <button class="button is-primary is-fullwidth" type="submit">Report Price</button>
        </p>
      </div>
    </div>
  </div>
</form>

</div>
</section>

<div class="container">
{% if turnip_records %}
  {% load tz %}
  <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Resident Rep.</th>
          <th>Price</th>
          <th>Recorded At (Island Local Time)</th>
          <th>Island Local Time</th>
        </tr>
      </thead>
    {% for record in turnip_records %}
      <tr>
        <td style="min-width: 1em; max-width: 150px; overflow: hidden;">{{ record.resident }}</td>
        <td>{{ record.price }}</td>
        <td class={% if not record.valid %} "has-text-danger" {% endif %}>{% localtime off %}{{record.local_timestamp}}{% endlocaltime %}</td>
        <td>{% localtime off %}{{record.local_time}}{% endlocaltime %}</td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No turnip prices on record.</p>
{% endif %}
</div>

<script>
  document.querySelector('#recordform').onsubmit = fillTZ;

  function fillTZ(e) {
    document.querySelector('#timezone').value = Intl.DateTimeFormat().resolvedOptions().timeZone;
  }
</script>

</body>
</html>
